In [3]:
from wellplate.map import read_plate_xml

well_map = read_plate_xml('test_map.xml')
display(well_map)

,name,tag_color,well_indices,well_ids
0,FLAG,FFF3A345,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]","[A1, A2, A3, A4, A5, A6, A7, A8, A9, A10, A11,..."
2,CAAX,FF00FFFF,"[72, 73, 74, 78, 79, 80]","[G1, G2, G3, G7, G8, G9]"
4,ct1-HA,FFBB00BB,"[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]","[B1, B2, B3, B4, B5, B6, B7, B8, B9, B10, B11,..."
6,ct3-HA,FF800080,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]","[C1, C2, C3, C4, C5, C6, C7, C8, C9, C10, C11,..."
8,GFP,FF00FF00,"[36, 37, 38, 39, 40, 41, 84, 85, 86, 90, 91, 92]","[D1, D2, D3, D4, D5, D6, H1, H2, H3, H7, H8, H9]"
10,HEK,FFFFFFFF,"[45, 46, 47, 87, 88, 89]","[D10, D11, D12, H4, H5, H6]"
12,HIGH,FF808080,"[0, 1, 2, 6, 7, 8, 12, 13, 14, 18, 19, 20, 24,...","[A1, A2, A3, A7, A8, A9, B1, B2, B3, B7, B8, B..."
14,LOW,FFC0C0C0,"[3, 4, 5, 9, 10, 11, 15, 16, 17, 21, 22, 23, 2...","[A4, A5, A6, A10, A11, A12, B4, B5, B6, B10, B..."
16,mRuby,FFFF0080,"[75, 76, 77, 81, 82, 83]","[G4, G5, G6, G10, G11, G12]"
18,Note,FFFFFF00,"[42, 43, 44, 56, 68, 80]","[D7, D8, D9, E9, F9, G9]"
20,p65,FFFF8888,"[48, 49, 50, 54, 55, 56]","[E1, E2, E3, E7, E8, E9]"
22,p66,FFFBBFBF,"[51, 52, 53, 57, 58, 59]","[E4, E5, E6, E10, E11, E12]"
24,p67,FFDAADAD,"[60, 61, 62, 66, 67, 68]","[F1, F2, F3, F7, F8, F9]"
26,2x,FFBBBB00,"[85, 86, 90, 91, 92]","[H2, H3, H7, H8, H9]"